@charset "utf-8";

@import "Layouts/Common/Background.scss";
@import "Layouts/Common/Footer.scss";
@import "Layouts/Common/Header.scss";
@import "Layouts/Common/Components/Modal.scss";

@import "Layouts/Projects/Ofuse/Common/Event.scss";
@import "Layouts/Projects/Ofuse/User/MyPage.scss";

@import "Objects/Mold.scss";

@import "Layouts/Projects/Ofuse/Home/TappedFollows.scss";
@import "Layouts/Projects/Ofuse/Home/TimeLine.scss";
@import "Layouts/Projects/Ofuse/Home/TimeLineBody.scss";

*{margin: 0; padding: 0;}
html, body { height: 100%; }

body {
  background: linear-gradient(173deg, #ffffff, #ffead9);
  width: 100%;
  font-weight: lighter;
}

@media (min-width: 768px) {
  body {
    width: 768px;
    background-position: top center;
    background-size: 992px auto;
    font-weight: lighter;
  }
}
@media (min-width: 992px) {
  body {
    width: 992px;
    background-size: 100% auto;
    font-weight: lighter;
  }
}




