div.header {
  background-color: #ffce6c;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  div.icon_text {
    color: #fff;
    font-size: 7vw;
  }
  div.header_right {
    width: 35%;
    div.header_right_content {
      width: 100%;
      padding: 1% 0.5%;
      background-color: #E4B638;
      -webkit-border-radius: 5px;/* 50%でもOK */
      -moz-border-radius: 3px;
      border-radius: 3px;
      img {
        width: 21%;
        height: auto;
      }
      div.header_right_text {
        vertical-align: middle;
        color: #fff;
        font-size: 3vw;
        display: inline;
      }
    }
  }
}
