div div.ant-btn-group {
  display: block;
  margin: 3px 0;
  button.btn-date {
    padding: 0;
    background-color: #ffce6c;
    pointer-events: none;
    span {
      color: #fff;
      margin: auto;
      width: 10%;
    }
  }
  button.btn-title {
    padding: 0;
    border-color: #ffce6c;
    width: 90%;
    span {
      text-align: left;
      width: 100%;
      margin-right: auto;
    }
  }
  button.btn-title:hover {
    background-color: #ffce6c;
    span {
      color: #fff;
    }
  }
}

div div.mypage-follows {
  border-bottom: 3px;
  border-color: #ffce6c;
}
