div.follow_work {
  width: 100%;
  display: -webkit-flex;
	display: flex;
  margin-bottom: 2%;
  border: medium solid #ffead9;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  box-sizing: border-box;
  span.follow_work_date {
    width: auto;
    background-color: #ffead9;
    font-size: 6vw;
    color: #fff;
    text-align: center;
    vertical-align: middle;
  }
  span.follow_work_title {
    padding-left: 2%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
  	flex: 1;
    font-size: 6vw;
    background-color: white;
    vertical-align: middle;
    -webkit-align-items: center;
    img {
      width: 10%;
      height: auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    span {
      color: black;
      font-size: 6vw;
    }
  }
}

// div div.mypage-follows {
//   border-bottom: 3px;
//   border-color: #ffce6c;
// }
