//メイン画面のフォロー６人+もっと見るボタン
div.follow_img_group {
  margin-bottom: 3%;
  width: 100%;
  padding : 2% 1%;
  border-bottom: medium solid #ffead9;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap; /* Safari */
  flex-wrap:         nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  div.follow_img_box {
    width: 13%;
    img {
      width: 100%;
      height: auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
}

//work一つ一つを囲むdiv
div.follow_works_box {
  padding-right: 1%;
}

//月とその下線
div.work_month {
  border-bottom: thin solid #ffead9;
}


//フォローが選択した時に出現する右側の小さいアイコン
div.selected_follow {
  padding-left: 0;
  padding-right: 1%;
  img {
    width: 100%;
    height: auto;
    -webkit-border-radius: 50%;/* 50%でもOK */
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 10%;
  }
}

//フォロー一覧モーダル
.your_follow_modal {
  .modal-dialog {
    .modal-content {
      background: rgba(0,0,0,0.7);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      .modal-body {
        border-top: none;
        color: white;
        text-align: center;
        font-size: 1vw;
        word-wrap: break-word;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        span.closeButtonFollow {
          position: fixed;
          top: 0;
          right: 2%;
          color: white;
          font-family: Meiryo;
          font-size: 7vw;
        }
        .modal_follow_title {
          width: auto;
          margin: 7% auto;
          span {
            font-size: 7vw;
          }
        }
      }
    }
  }
}

//汎用
//followが並んでいる状態。丸画像とテキスト。
.flex_follow_images_box {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
  .flex_follow_image {
    width: 16%;
    img {
      width: 100%;
      height: auto;
      -webkit-border-radius: 50%;/* 50%でもOK */
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    span {
      font-size: 2vw;
    }
  }
}
